# Virtual Environment
venv/
env/
.venv/

# Environment Variables & Secrets
.env
.streamlit/secrets.toml

# Python Cache Files
__pycache__/
*.pyc
.pytest_cache/

# IDE / OS Settings
.vscode/
.idea/
.DS_Store